PORT=8000
MONGO_URL=YOUR_MONGODB_CONNECTION_STRING
JWT_SECRET_KEY=YOUR_JWT_SECRET
JWT_REFRESH_SECRET_KEY=YOUR_JWT_REFRESH_SECRET
CLOUDINARY_CLOUD_NAME=dikhygxrl
CLOUDINARY_API_KEY=964277896935559
CLOUDINARY_API_SECRET=ekCVwyFRejpWNbBfocN39K7TIwQ
RAPIDAPI_KEY=YOUR_RAPIDAPI_KEY

